interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://itunes.apple.com/search?term=daft+punk+one+more+time&entity=song&limit=5&country=GB
  response:
    body:
      string: "\n\n\n{\n \"resultCount\":5,\n \"results\": [\n{\"wrapperType\":\"track\",
        \"kind\":\"song\", \"artistId\":5468295, \"collectionId\":697194953, \"trackId\":697195462,
        \"artistName\":\"Daft Punk\", \"collectionName\":\"Discovery\", \"trackName\":\"One
        More Time\", \"collectionCensoredName\":\"Discovery\", \"trackCensoredName\":\"One
        More Time\", \"artistViewUrl\":\"https://music.apple.com/gb/artist/daft-punk/5468295?uo=4\",
        \"collectionViewUrl\":\"https://music.apple.com/gb/album/one-more-time/697194953?i=697195462&uo=4\",
        \"trackViewUrl\":\"https://music.apple.com/gb/album/one-more-time/697194953?i=697195462&uo=4\",
        \n\"previewUrl\":\"https://audio-ssl.itunes.apple.com/itunes-assets/AudioPreview221/v4/5d/93/d8/5d93d83f-ad1e-da4d-1d79-9937bdff24ec/mzaf_14396932211949300852.plus.aac.p.m4a\",
        \"artworkUrl30\":\"https://is1-ssl.mzstatic.com/image/thumb/Music221/v4/fd/4a/77/fd4a77db-0ebc-d043-41a2-f32fa1bb0fb4/dj.qrikkdwj.jpg/30x30bb.jpg\",
        \"artworkUrl60\":\"https://is1-ssl.mzstatic.com/image/thumb/Music221/v4/fd/4a/77/fd4a77db-0ebc-d043-41a2-f32fa1bb0fb4/dj.qrikkdwj.jpg/60x60bb.jpg\",
        \"artworkUrl100\":\"https://is1-ssl.mzstatic.com/image/thumb/Music221/v4/fd/4a/77/fd4a77db-0ebc-d043-41a2-f32fa1bb0fb4/dj.qrikkdwj.jpg/100x100bb.jpg\",
        \"collectionPrice\":10.99, \"trackPrice\":0.99, \"releaseDate\":\"2000-11-30T08:00:00Z\",
        \"collectionExplicitness\":\"notExplicit\", \"trackExplicitness\":\"notExplicit\",
        \"discCount\":1, \"discNumber\":1, \"trackCount\":14, \"trackNumber\":1, \"trackTimeMillis\":320357,
        \"country\":\"GBR\", \"currency\":\"GBP\", \"primaryGenreName\":\"Dance\",
        \"isStreamable\":true}, \n{\"wrapperType\":\"track\", \"kind\":\"song\", \"artistId\":5468295,
        \"collectionId\":697401639, \"trackId\":697402071, \"artistName\":\"Daft Punk\",
        \"collectionName\":\"One More Time - Single\", \"trackName\":\"One More Time
        (12 Mix)\", \"collectionCensoredName\":\"One More Time - Single\", \"trackCensoredName\":\"One
        More Time (12 Mix)\", \"artistViewUrl\":\"https://music.apple.com/gb/artist/daft-punk/5468295?uo=4\",
        \"collectionViewUrl\":\"htt[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.shazam.com/services/sd/s/a2st/GB/en-US/697402071
  response:
    body:
      string: '{"697402071":"44291415"}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://amp.shazam.com/discovery/v5/en-US/GB/iphone/-/track/40003457?shazamapiversion=v3&video=v3
  response:
    body:
      string: '{"layout":"5","type":"MUSIC","key":"40003457","title":"One More Time
        (Romanthony''s Unplugged)","subtitle":"Daft Punk","images":{"background":"https://is1-ssl.mzstatic.com/image/thumb/AMCArtistImages221/v4/29/9e/38/299e3866-673a-4d36-376f-9274a0e45793/ami-identity-7b9f369855a542ba1bc836cd2766ca01-2025-09-01T10-34-14.349Z_cropped.png/800x800cc.jpg","coverart":"https://is1-ssl.mzstatic.com/image/thumb/Features124/v4/ac/e1/07/ace10786-a064-0ed0-17ff-ba0cebecefe9/dj.mpdjtkyu.jpg/400x400cc.jpg","coverarthq":"https://is1-ssl.mzstatic.com/image/thumb/Features124/v4/ac/e1/07/ace10786-a064-0ed0-17ff-ba0cebecefe9/dj.mpdjtkyu.jpg/400x400cc.jpg","joecolor":"b:000000p:9ad930s:95c638t:7bae26q:779e2d"},"display":{"actions":[{"name":"display:updateshazam","type":"webview","uri":"https://www.shazam.com/inapp/updatenow/40003457"}]},"share":{"subject":"One
        More Time (Romanthony''s Unplugged) - Daft Punk","text":"One More Time (Romanthony''s
        Unplugged) by Daft Punk","href":"https://www.shazam.com/track/40003457/one-more-time-romanthonys-unplugged","image":"https://is1-ssl.mzstatic.com/image/thumb/Features124/v4/ac/e1/07/ace10786-a064-0ed0-17ff-ba0cebecefe9/dj.mpdjtkyu.jpg/400x400cc.jpg","twitter":"I
        used @Shazam to discover One More Time (Romanthony''s Unplugged) by Daft Punk.","html":"https://www.shazam.com/snippets/email-share/40003457?lang=en-US&country=GB","avatar":"https://is1-ssl.mzstatic.com/image/thumb/AMCArtistImages221/v4/29/9e/38/299e3866-673a-4d36-376f-9274a0e45793/ami-identity-7b9f369855a542ba1bc836cd2766ca01-2025-09-01T10-34-14.349Z_cropped.png/800x800cc.jpg","snapchat":"https://www.shazam.com/partner/sc/track/40003457"},"hub":{"type":"APPLEMUSIC","image":"https://images.shazam.com/static/icons/hub/ios/v5/applemusic_{scalefactor}.png","actions":[{"name":"apple","type":"applemusicplay","id":"696669993"},{"name":"apple","type":"uri","uri":"https://audio-ssl.itunes.apple.com/itunes-assets/AudioPreview211/v4/29/31/73/2931732c-5608-e1ae-1abc-2f297f02036a/mzaf_11386605203931230683.plus.aac.ep.m4a"}],"providers":[{"caption":"Open
        in Spotify","images":{"overflow":"https://images.shazam.com/static/icons/hub/ios/v5/spotify-overflow_{scalefactor}.png","default":"https://images.shazam.com/static/icons/hub/ios/v5/spotify_{scalefactor}.png"},"actions":[{"name":"hub:spotify:searchdeeplink","type":"uri","uri":"spotify:search:One%20More%20Time%20%28Romanthony%27s%20Unplugged%29%20Daft%20Punk"}],"type":"SPOTIFY"},{"caption":"Open
        in Deezer","images":{"overflow":"https://images.shazam.com/static/icons/hub/ios/v5/deezer-overflow_{scalefactor}.png","default":"https://images.shazam.com/static/icons/hub/ios/v5/deezer_{scalefactor}.png"},"actions":[{"name":"hub:deezer:searchdeeplink","type":"uri","uri":"deezer-query://www.deezer.com/play?query=%7Btrack%3A%27One+More+Time+%28Romanthony%5C%27s+Unplugged%29%27%20artist%3A%27Daft+Punk%27%7D"}],"type":"DEEZER"}],"explicit":false,"displayname":"APPLE
        MUSIC","options":[{"caption":"OPEN","actions":[{"name":"hub:applemusic:deeplink","type":"applemusicopen","uri":"https://music.apple.com/gb/album/one-more-time-romanthonys-unplugged/696669068?i=696669993&mttnagencyid=s2n&mttnsiteid=125115&mttn3pid=Apple-Shazam&mttnsub1=Shazam_ios&mttnsub2=5348615A-616D-3235-3830-44754D6D5973&itscg=30201&app=music&itsct=Shazam_ios"},{"name":"hub:applemusic:deeplink","type":"uri","uri":"https://music.apple.com/gb/album/one-more-time-romanthonys-unplugged/696669068?i=696669993&mttnagencyid=s2n&mttnsiteid=125115&mttn3pid=Apple-Shazam&mttnsub1=Shazam_ios&mttnsub2=5348615A-616D-3235-3830-44754D6D5973&itscg=30201&app=music&itsct=Shazam_ios"}],"beacondata":{"type":"open","providername":"applemusic"},"image":"https://images.shazam.com/static/icons/hub/ios/v5/overflow-open-option_{scalefactor}.png","type":"open","listcaption":"Open
        in Apple Music","overflowimage":"https://images.shazam.com/static/icons/hub/ios/v5/applemusic-overflow_{scalefactor}.png","colouroverflowimage":false,"providername":"applemusic"},{"caption":"BUY","actions":[{"type":"uri","uri":"https://itunes.apple.com/gb/album/one-more-time-romanthonys-unplugged/696669068?i=696669993&mttnagencyid=s2n&mttnsiteid=125115&mttn3pid=Apple-Shazam&mttnsub1=Shazam_ios&mttnsub2=5348615A-616D-3235-3830-44754D6D5973&itscg=30201&app=itunes&itsct=Shazam_ios"}],"beacondata":{"type":"buy","providername":"itunes"},"image":"https://images.shazam.com/static/icons/hub/ios/v5/itunes-overflow-buy_{scalefactor}.png","type":"buy","listcaption":"Buy
        on iTunes","overflowimage":"https://images.shazam.com/static/icons/hub/ios/v5/itunes-overflow-buy_{scalefactor}.png","colouroverflowimage":false,"providername":"itunes"}]},"sections":[{"type":"SONG","metapages":[{"image":"https://is1-ssl.mzstatic.com/image/thumb/AMCArtistImages221/v4/29/9e/38/299e3866-673a-4d36-376f-9274a0e45793/ami-identity-7b9f369855a542ba1bc836cd2766ca01-2025-09-01T10-34-14.349Z_cropped.png/800x800cc.jpg","caption":"Daft
        Punk"},{"image":"https://is1-ssl.mzstatic.com/image/thumb/Features124/v4/ac/e1/07/ace10786-a064-0ed0-17ff-ba0cebecefe9/dj.mpdjtkyu.jpg/400x400cc.jpg","caption":"One
        More Time (Romanthony''s Unplugged)"}],"tabname":"Song","metadata":[{"title":"Album","text":"Daft
        Club"},{"title":"Label","text":"Daft Life Ltd./ADA France"},{"title":"Released","text":"2003"}]}],"url":"https://www.shazam.com/track/40003457/one-more-time-romanthonys-unplugged","artists":[{"id":"42","adamid":"5468295"}],"genres":{"primary":"Dance"},"urlparams":{"{tracktitle}":"One+More+Time+%28Romanthony%27s+Unplugged%29","{trackartist}":"Daft+Punk"},"myshazam":{"apple":{"actions":[{"name":"myshazam:apple","type":"uri","uri":"https://music.apple.com/gb/album/one-more-time-romanthonys-unplugged/696669068?i=696669993&mttnagencyid=s2n&mttnsiteid=125115&mttn3pid=Apple-Shazam&mttnsub1=Shazam_ios&mttnsub2=5348615A-616D-3235-3830-44754D6D5973&itscg=30201&app=music&itsct=Shazam_ios"}]}},"highlightsurls":{},"albumadamid":"696669068","isrc":"GBDUW0300006"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
