interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.shazam.com/services/charts/locations
  response:
    body:
      string: "{\"countries\":[{\"id\":\"AE\",\"name\":\"United Arab Emirates\",\"listid\":\"pl.436cd7e997794611ba6a3b302f89412f\",\"cities\":[{\"id\":\"292223\",\"countryid\":\"AE\",\"name\":\"Dubai\",\"listid\":\"pl.92261b13d68449f095b3b0c8b127ec6c\",\"urlName\":\"dubai\"}],\"genres\":[],\"urlName\":\"united-arab-emirates\"},{\"id\":\"AR\",\"name\":\"Argentina\",\"listid\":\"pl.616a38327bcf49c28dbf06fe8c427a2b\",\"momentum_listid\":\"pl.76a7bbfb433b4b5d8740227a282d2016\",\"cities\":[{\"id\":\"3435910\",\"countryid\":\"AR\",\"name\":\"Buenos
        Aires\",\"listid\":\"pl.3954afe90c5e459b8e0ef4cb5a645826\",\"urlName\":\"buenos-aires\"}],\"genres\":[],\"viral\":{\"id\":\"3865483\",\"countryid\":\"AR\",\"listid\":\"pl.7f116e2125974f6286a44960cc07b028\"},\"urlName\":\"argentina\"},{\"id\":\"AT\",\"name\":\"Austria\",\"listid\":\"pl.b4b3a6d411074af5b97d5e10f72be9f2\",\"momentum_listid\":\"pl.f816961f3ff64c2782bba4089853049f\",\"cities\":[],\"genres\":[],\"viral\":{\"id\":\"2782113\",\"countryid\":\"AT\",\"listid\":\"pl.fa580e2c6bd44650a48c645541f3330e\"},\"urlName\":\"austria\"},{\"id\":\"AU\",\"name\":\"Australia\",\"listid\":\"pl.a17903f3f3224d1a939e9e03d7b9bc9c\",\"momentum_listid\":\"pl.57e0b836f0ee49dbbf423c08273d07d6\",\"cities\":[{\"id\":\"2078025\",\"countryid\":\"AU\",\"name\":\"Adelaide\",\"listid\":\"pl.84a10468570848f580c3f6d5abe94993\",\"urlName\":\"adelaide\"},{\"id\":\"2174003\",\"countryid\":\"AU\",\"name\":\"Brisbane\",\"listid\":\"pl.2f6038c33b41425dbe3dc16a36d44865\",\"urlName\":\"brisbane\"},{\"id\":\"2158177\",\"countryid\":\"AU\",\"name\":\"Melbourne\",\"listid\":\"pl.cf18e74a72d34c48a8c072a720a07ca8\",\"urlName\":\"melbourne\"},{\"id\":\"2063523\",\"countryid\":\"AU\",\"name\":\"Perth\",\"listid\":\"pl.304c020666674562867d5e8512af06b3\",\"urlName\":\"perth\"},{\"id\":\"2147714\",\"countryid\":\"AU\",\"name\":\"Sydney\",\"listid\":\"pl.6bc0968e302f453aafbdc23f3478dc4e\",\"urlName\":\"sydney\"}],\"genres\":[{\"id\":\"AU-1\",\"countryid\":\"AU\",\"name\":\"Pop\",\"listid\":\"pl.0270c4f8fc6440318a3631a6dbc5c3e3\",\"urlName\":\"pop\",\"count\":100},{\"id\":\"AU-2\",\"countryid\":\"AU\",\"name\":\"Hip-Hop/Rap\",\"listid\":\"pl.3fefd33a20d445d4b884f32d99248f8c\",\"urlName\":\"hip-hop-rap\",\"count\":100},{\"id\":\"AU-3\",\"countryid\":\"AU\",\"name\":\"Dance\",\"listid\":\"pl.120a23a213c84f6090cb4d45d31fc4c1\",\"urlName\":\"dance\",\"count\":100}],\"viral\":{\"id\":\"2077456\",\"countryid\":\"AU\",\"listid\":\"pl.df5052b54a574cfbbec18d10f13f8ec1\"},\"urlName\":\"australia\"},{\"id\":\"AZ\",\"name\":\"Azerbaijan\",\"listid\":\"pl.cdb6e0e[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.shazam.com/services/charts/csv/top-50/russia/moscow/
  response:
    body:
      string: "\uFEFF\n\"Thursday, 8 October 2026 [performance over the past 7 days]\"\nRank,Artist,Title\n1,\"Imael
        Angel\",\"BAD TIMES\"\n2,\"Voskresenskii\",\"\u0424\u0440\u0430\u043D\u0441\u0435\"\n3,\"\u0443\u0440\u0430\u043B
        \u0433\u0430\u0439\u0441\u0438\u043D & \u0441\u043D\u044F\u043B\u0446\u0435\u043F\u0438\",\"\u0442\[...]
